################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApplication2/bin/Debug
/ConsoleApplication2/obj/Debug
/RenCs/bin/Debug
/RenCs/obj/Debug
*.suo
